* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header2 {
    background-color: #4c4c4c;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-links {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    transition: all 0.3s ease;
}

.nav-links:hover {
    color: #ff0000;
}

.burger {
    display: none;
}

.line1, .line2, .line3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.hero {
    height: 80vh;
    background-image: url('fondo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center
