.container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    /* top: 10px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    cursor: pointer;
    /* padding: 10px; */
    mix-blend-mode: darken;
    grid-area: carrusel;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
}


.fade {
    animation-name: fade;
    animation-duration: 1.8s;
}

.foolishIn {
    animation-name: foolishIn;
    animation-duration: 1.8s;
}


.slidein {
    animation-name: slidein;
    animation-duration: .8s;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.8s;
}

.swashIn {
    animation-name: swashIn;
    animation-duration: 1.8s;
}


.moveRight {
    animation-name: moveRight;
    animation-duration: 1.8s;
}


.slide .box {
    min-width: 260px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.box img {
    width: 100vw;
    height: 100%;
    display: block;
    object-fit: cover;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /*user-select: none;*/
}

.slider-arrow {
    color: var(--principal-color2);
    font-size: 55px;
    cursor: pointer;
    position: absolute;
}

.center_y {
    position: relative;
    top: 50%;
    transform: translateX(-50%);
}

.center_x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*style slider*/


body, html {
    width: 100%;
    height: 100%;
}


.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-arrow {
    color: var(#fcc444);
    font-size: 55px;
    cursor: pointer;
    position: absolute;
}


#arrow-prev {
    left: 40px;
    top: 23vh;
}

#arrow-next {
    right: 0vw;
    top: 23vh;
}

#dots-wrapper {
    display: flex;
    position: absolute;
    bottom: 30px;
}

.dot-nav {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    cursor: pointer;
    margin: 0 8px;
    border: 2px solid #black;
}

.dot-nav:hover {
    background-color: #a04928;
}

.active-dot {
    background-color: #fcc444;
}


.progressBar, .progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 1vh;

}

.progressBar {
    background-color: #f1f1f1;
}


.progress {
    transition: width 1s;
    --ancho: 0;
    width: var(--ancho);
    background-color: #f44336;
}


@keyframes fade {
    from {
        opacity: .6
    }
    to {
        opacity: 1
    }
}


@keyframes slidein {
    from {
        margin-left: 50%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


@-webkit-keyframes swashIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(0.9, 0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
    }
}

@keyframes swashIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(0, 0);
    }
    90% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(0.9, 0.9);
    }
    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}


@keyframes foolishIn {
    0% {
        opacity: 0;
        transform-origin: 50% 50%;
        transform: scale(0, 0) rotate(360deg);
    }
    20% {
        opacity: 1;
        transform-origin: 0% 100%;
        transform: scale(0.5, 0.5) rotate(0deg);
    }
    40% {
        opacity: 1;
        transform-origin: 100% 100%;
        transform: scale(0.5, 0.5) rotate(0deg);
    }
    60% {
        opacity: 1;
        transform-origin: 0%;
        transform: scale(0.5, 0.5) rotate(0deg);
    }
    80% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: scale(0.5, 0.5) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform-origin: 50% 50%;
        transform: scale(1, 1) rotate(0deg);
    }
}