.agenda {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1px;
    width: 400px;
}

.casilla {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.casilla-disponible {
    background-color: #e2f2ff;
}

.casilla-seleccionada {
    background-color: #9fc5e8;
}