* {
    line-height: 1em;
}

body {
    width: 100%;
    margin: 0%;
    background-color: #eef1ef;
    font-family: 'Gotham'
}

/*
paleta de colores: los colores primarios deben predominar en la web
y mas aun el color verde, ese es nuestro color main
primarios
=================
verde -> #025255
Amarillo -> #fcc444
Rojo -> #d0244a
Azul -> #009dda
================
Complementarios
================
marron claro -> #a04928
marron oscuro -> #5b2b19
celeste -> #87d3e2
verde claro -> #718839
gris oscuro -> #3b4a5a
gris claro -> #eef1ef
================
*/

/*
-----------------------------
HEADER - BUSCADOR - LOGO
-----------------------------
*/
header {
    width: 100%;
    position: relative;
    background-color: #eef1ef;
}

.lupa[type="submit"]{
    margin-left: 2%;
    background-color: #eef1ef;
}

header a {
    font-family: 'Gotham', sans-serif;
    text-decoration: none;
    background-image: url("../img/Imagotipo_PAW_Hospitals.svg");
    display: inline-block;
    aspect-ratio: 2.25;
    width: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
}

header h1 {
    margin: 0;
}

.Buscador {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.Buscador input[type="text"]::placeholder {
    display: inline;
    color: grey;
    font-style: italic;
}

.Buscador input[type="text"] {
    transition: 1s;
}

.Buscador input[type="submit"] {
    cursor: pointer;
    display: inline;
}

.search-box {
    background-color: transparent;
    border: 1px grey solid;
    border-radius: 2px;
    font-size: 15px;
    outline: none; /* Quitando el borde cuando está enfocado */
    position: relative;
}

.Buscador input[type="text"]:focus {
    background-color: #ffe3a1;
}

.Buscador  input[type="submit"]{
    animation: 2s scaleX;
    transition: all 2s;
}

@keyframes scaleX {
    from {opacity: 0;
        transform: translateX(-400px);
        };
}

@media (max-width:449px){
    header h1 {
        display: flex;
        padding-right: 20%;
        padding-bottom: 15%;
        padding-top: 0%;
        padding-left: 20%;
        flex-direction: column;
    }
    .lupa[type="submit"]{
        padding-right: 1%;
        margin-right: 1%;
    }
}

@media (max-width:500px)and (min-width:450px){
    header h1 {
        display: flex;
        padding-right: 20%;
        padding-bottom: 15%;
        padding-top: 0%;
        padding-left: 20%;
        flex-direction: column;
    }
    .Buscador {
        padding-right: 5%;
    }
}
@media (max-width:565px) and (min-width:501px){
    header h1 {
        display: flex;
        padding: 15%;
        padding-top: 0%;
        padding-left: 5%;
        flex-direction: column;
    }
    .Buscador {
        padding-right: 10%;
    }
}


/*
-----------------------------
BARRA DE NAVEGACION
-----------------------------
*/


nav {
    background-color: #025255;
    margin: 0%;
    width: 100%;
    overflow: visible;
    box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav > ul {
    position: relative;
}

nav a {
    color: white;
    font-family: 'Gotham', sans-serif;
    text-decoration: none;
    padding: 1em;
}

nav ul li {
    transition:all 1s;
    padding: 1em;
    padding-inline: initial;
}

.navbarDropOption ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: #025255;
    margin-top: 1em;
    padding: 0%;
    position: absolute;
    animation-name: opacity;
    animation-duration: 1s;
    width: max-content;
}

.navbarDropOption li {
    text-align: center;
    width: 100%;
    background-color: #5b2b19;
    transition: all 0.25s;
}

.navbarDropOption:hover > ul, .navbarDropOption ul:hover {
    display: flex;
}

nav li:hover {
    transform: scale(1.1);
    background-color: #a04928;
}

.navbarDropOption > ul > li:hover {
    background-color: #a04928;
}

@keyframes opacity {
   0% {opacity: 0};
  100% {opacity: 1};
}

#hamburgerMenu {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 35px;
    margin: 0;
    opacity: 0;
}

label[for=hamburgerMenu] {
    display: none;
    border-radius: 3px;
    background: #009dda;
    position: relative;
    height: 5px;
    width: 30px;
    margin: 1em 0;
    cursor: pointer;
}

label[for=hamburgerMenu]:before {
    border-radius: 3px;
    background: #d0244a;
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 30px;
    height: 5px;
}

label[for=hamburgerMenu]:after {
    border-radius: 3px;
    background: #fcc444;
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 5px;
}

@media (max-width:708px) {
    nav {
        width: auto;
        display: flex;
        height: auto;
        flex-direction: column;
        padding-left: 10%;
        margin: 0;
    }

    li.navbarDropOption {
       width: 11ch;
    }

    nav li:hover {
        background-color: #a04928;
    }

    .navbarDropOption > ul {
        margin-left: 11ch;
        margin-top: -2em;
        background-color: #5b2b19
    }

    .navbarDropOption > ul > li:hover {
        background-color: #a04928;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #hamburgerMenu {
        display: inline-block;
    }

    label[for=hamburgerMenu] {
        display: inline-block;
    }

    nav #hamburgerMenu:not(:checked) ~ ul {
        display: none;
    }
}

/*
-----------------------------
BODY osea MAIN
-----------------------------
*/
main {
    margin: 0 10%;
}

main h2 {
    color: #009dda;
    text-align: center;
}

/*
-----------------------------
FORMULARIO
-----------------------------
*/

.formulario {
    display: flex;
    flex-direction: column;
    font-family: 'gotham','sans-serif';
    align-items: center;
}


.formulario form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.formulario h2 {
    color: #009dda;
    align-content: end;
}

.formulario form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: small;
}

form input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    padding: 10px;
    align-self: end;
    font-weight: bold;
    background-color: #025255;
    color: white;
    border: 0;
    cursor: pointer;  
    transition: all 1s;
    border-radius: 0px 20px 20px 20px;
}




form input[type="submit"]:hover{
    transform: translateY(-7px);
}




/*
-----------------------------
NOTICIAS
-----------------------------
*/
.noticias {
    float: left;
    width: 50%;
}
.noticias small {
    float: initial;
    color: #a04928;
}
.noticias li {
    list-style: none;
    padding-bottom: 3em;
}
.noticias .vermas {
    float: right;
    margin: 1em 0;
}

.noticias h2 {
    text-align: center;
    color: #009dda;
}

.noticias ul {
    list-style: none;
    overflow-y: auto;
    padding-left: initial;
    margin: 0;
    height: 300px;
}

main.noticias ul {
    height: auto;
}

.noticias a {
    text-decoration: none;
}

.noticias article {
    min-height: 150px;
}

.noticias > ul > li h3 + small {
    display: block;
    margin-bottom: 15px;
}

.noticias > ul > li h3 {
    background-color: #eef1ef;
    color: #025255;
    margin: 15px 0 0 0;
}

.noticias > ul > li:first-child h3 {
    margin-top: 0;
}

.noticias img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 0.75em 0.75em 2em;
}

.noticias p {
    color: #025255;
    font-size: 18px;
    vertical-align: text-top;
    margin: 0 1em;
}

main.noticias {
    float: unset;
    width: auto;

}

.noticias ul li:nth-child(even) article img {
    float: right;
    margin: 0 2em 0.75em 0.75em;
}

.noticias ul li:nth-child(even) article h3 {
    text-align: end;
}

.noticias ul li:nth-child(even) article h3 + small {
    text-align: end;
}

.noticias ul li:nth-child(even) article .vermas {
    float: left;
}

.noticias ul li:nth-child(even) article p {
    color: #718839;
}

@media (max-width:990px) {
    .noticias {
        float: none;
        width: 100%;
    }
}

/*
-----------------------------
Donde nos podés encontrar
-----------------------------
*/
.ubicacion {
    float: right;
    text-align: center;
    width: auto;
}

.ubicacion h2 {
    text-align: center;
    color: #009dda;
}
.ubicacion iframe {
    align-self: center;
}

@media (max-width:450px){
    .ubicacion {
        float: none;
    }
    .ubicacion iframe {
        width: 90%;
        margin: auto;
    }
}

@media (max-width:990px)and (min-width:451px){
    .ubicacion {
        float: none;
    }
    .ubicacion iframe {
        width: 100%;
        margin: auto;
    }
}
/*
-----------------------------
¿Por qué elegirnos?
-----------------------------
*/
.elegirnos {
    float: left;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.elegirnos h2 {
    text-align: center;
    color: #009dda;
}

.elegirnos p {
    color: #025255;
    font-size: 18px;
    vertical-align: text-top;
}

.elegirnos iframe {
    align-self: center;
    width: 100%;
    margin: auto;
}
/*
-----------------------------
ConsultarTurno
-----------------------------
*/

.consultarturno label {
    color: #025255;
}

.consultarturno input[type="submit"]{
    border-radius: 0%;
    border-radius: 0px 20px 20px 20px;
}

.consultarturno p {
    color: #a04928;
    vertical-align: text-top;
    margin: 0.1 1em;
}

.consultarturno img {
    height: 96px;
    height: 96px;
    float: right;

}
/*
-----------------------------
Confirmar turno
-----------------------------
*/

.confirmarturno p {
    color: #a04928;
    vertical-align: text-top;
    margin: 0.1 1em;
}

.confirmarturno label {
    color: #025255;
}
.confirmarturno input {
    margin: 10px;
}

.confirmarturno button {
    text-align: right;
}
/*
-----------------------------
staff / directorio / especialidades / profesionales
-----------------------------
*/
.grilla > ul {
    display: grid;
    list-style: none;
    grid-template-columns: auto auto auto;
    padding: 0 0%;
}

.grilla > ul > li {
    display: table-cell;
    text-align: center;
    padding: 1em;
}

.grilla > ul > li > p {
    margin: 0.75em 0;
}

.grilla > ul > li > p:last-child {
    margin-bottom: 0;
}

/*
-----------------------------
Valores
-----------------------------
*/

.valores ul {
    padding-left: 0;
}

.valores h3 {
    background-color: #eef1ef;
    color: #025255;
    text-align: center;
}

.valores p {
    color: #a04928;
    vertical-align: text-top;
    margin: 0.1 1em;
    text-align: center;
}

.valores li {
    list-style: none;
}

.valores img {
    width: 180px;
    height: 180px;
    display: flex;
    margin: auto;
    background-size: 100%;
    margin-bottom: 5%;
}

/*
-----------------------------
Obra social
-----------------------------
*/
.obrasocial ul {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
}
.obrasocial a {
    text-decoration: none;
}
.obrasocial li {
    list-style: none;
    text-align: center;
}
/*
-----------------------------
SolicitarTurno
-----------------------------
*/
.form-turno {
    display: grid;
}

.form-turno label {
    color: #025255;
    margin-top: 10px;
}

.form-turno datalist, input {
    margin: 10px;
}

.form-buttons {
    text-align: right;
}

/*
.form-buttons input[type="submit"], .form-buttons input[type="reset"] {
    display: inline;
    border-radius: 0;
    border-style: solid;
    border-color: #7b8c9e;
    border-width: 1px;
    color: #3b4a5a;
}

.form-buttons input[type="submit"] {
    padding: 0.5em 30px;
    background-color: rgba(91, 202, 91, 0.6);
}

.form-buttons input[type="reset"] {
    padding: 0.5em 5px;
    margin: 10px 10px 0 50px;
    background-color: rgba(219, 50, 50, 0.7);
}
*/

/*
-----------------------------
FOOTER
-----------------------------
*/
footer {
    width: 100%;
    position: relative;
    background-color:#025255;
    margin: 0;
    margin-top: 20px;
    padding: 0.01px; /*para que no haya espacios en blanco debajo del footer*/
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;}

.certificadoFooter {
    display: flex;
    flex-direction: column;
    color: #fcc444;
    margin-left: 0.5em;
}

.contactoFooter {
    text-align: start;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fcc444;
}

.contactoFooter ul {
    list-style:none;
}
.mail {
    color: #fcc444;
    text-decoration: none;
}

.contactoFooter p {
    margin-bottom: 0.0em;
}

.contactoFooter ul li {
    margin-bottom: 0.75em;
}

.redesFooter p {
    margin-left: 2.5em;
    margin-bottom: 0.1em;

}
.redesFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fcc444;
    margin-right: 5%;

}

.logoCertificadoFooter {
    background-image: url("../img/Ministerio_de_Salud.png");
    aspect-ratio: 3.5;
    width: 175px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn {
    border-width: 1px;
    padding: 2px 7px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
    display: inline-block;
    box-sizing: border-box;
    block-size: 21px;
    cursor: pointer;
    margin: 10px;
    white-space: pre;
    text-align: center;
    border-radius: 3px;
    font-size: 13.333px;
    font-family: 'Arial';
    border-radius: 0px 20px 20px 20px;
    transition: all 0.5s;
    border: solid 1px black;
}

a.btn {
    text-decoration: none;
    color: black;
    background-color: rgb(239, 239, 239);
}

.btn:hover{
    border: solid 1px #d0244a;
} 

@media (max-width:511px){
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .redesFooter {
        margin-right: 2.5em;
    }

    footer address ul {
        padding-left: 0em;
    }
}

/*
-----------------------------
Vista de impresion
-----------------------------
*/

@media print  {
    header  {
        display: none;
    }
    nav {
        display: none;
    }
    footer {
        display: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    main {
        float: none
    }
}
