body{
    width: 100%;
    margin: 0%;
    background-color: #eef1ef;
}
/*
paleta de colores: los colores primarios deben predominar en la web
y mas aun el color verde, ese es nuestro color main
primarios
=================
verde -> #025255 
Amarillo -> #fcc444
Rojo -> #d0244a
Azul -> #009dda
================
Complementarios
================
marron claro -> #a04928
marron oscuro -> #5b2b19
celeste -> #87d3e2
verde claro -> #718839
gris oscuro -> #3b4a5a
gris claro -> #eef1ef
================
*/

/*
-----------------------------
HEADER - BUSCADOR - LOGO
-----------------------------
*/
header{
    width: 100%;
    position: relative;
    background-color:#025255;
}
header a{
    font-family: 'Gotham', sans-serif;
    text-decoration: none;
    background-image: url("../img/Imagotipo_PAW_Hospitals.svg");
    display: inline-block;
    aspect-ratio: 2.25;
    width: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
}

header h1 {
    margin: 0;
}

.Buscador{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.Buscador input[type="text"]::placeholder {
    display: inline;
    color: black;
    background-color: #fcc444;
    font-style: italic;
    padding-left: 5px; 
}


.Buscador input[type="text"] {
    padding-left: 5px; 
    transition: 1s;
}


.Buscador input[type="submit"]{
    cursor: pointer;
    display: inline;
}

.search-box {
    background-color: transparent;
    border-style: none;
    font-size: 18px;
    color: black; /* Añadiendo color al texto */
    outline: none; /* Quitando el borde cuando está enfocado */
    position: relative;
}

.Buscador input[type="text"]:focus {
    background-color: #fcc444;
}

/*
-----------------------------
BARRA DE NAVEGACION
-----------------------------
*/


.navbar {
    background-color:#009dda;
    margin: 0%;
    width: 100%;
    height: 55px;
    padding-top: 1px;
    overflow: visible;
    box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
}

.navbar  ul{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.navbar  a{
    color:white;
    font-family: 'Gotham', sans-serif;
    text-decoration: none;
}

.navbarDropOption ul{
    display: none;
    background-color:#389A9C;
}

.navbarDropOption li{
    width: auto;
    padding: 10px;
}

.navbarDropOption a:hover +ul,.navbarDropOption ul:hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    position: absolute;
    
  
}

.navbarDropOption ul:hover  ~  a  {
    visibility: hidden;
    color: aliceblue;
}


/*
-----------------------------
FORMULARIO
-----------------------------
*/

.formulario{
    display: flex;
    flex-direction: column;
    font-family: 'gotham','sans-serif';
    align-items: center;
}


.formulario form{
    
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario h2{
    color: #009dda;
    align-content: end;
}

.formulario form label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: small;
}

.formulario input[type="submit"]{
    margin-top: 10px;  
    margin-bottom: 5px;   
    width:fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-left: 70%;
    font-weight: bold;
    background-color: #389A9C;
    color: white;
    border: 0;

}